.path p{
    max-width: 1020px;
    margin: 0 auto;
    color: #5a5a5a;
    font-size: 14px;
}

.path{
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

@media (max-width:768px){
    .path p{
        margin-left: 20px;
    }
}

@media (max-width:1024px) and (min-width:769px){
    .path p{
        margin:0 45px;
    }
}