.HeaderTop{
    background-color: #022737;
}

.HeaderItems{
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.HeaderItems li{
    padding: 10px;
    cursor: pointer;
    margin:0 10px
}

.HeaderItems li select{
    border-radius: 16px;
}

.HeaderItems li:nth-child(3), .HeaderItems li:nth-child(4){
    font-size: 20px;
}

.HeaderItems li:nth-child(4)
{
    margin-right: 5%;
}

a{
    text-decoration: none;
    color: white;
}

.needassistance{
    display: none;
}

.viewassistance{
    display: block;
}

#root > div > header > div.HeaderTop > div.viewassistance > svg{
    font-size: 25px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 40px;
}


@media (max-width:767px)
{
    #root > div > header > div.HeaderTop_HeaderTop__FBIb2 > div > li.assistance{
        display: none;
    }
}
