.HeaderTop{
    background-color: #022737;
}

.HeaderItems{
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.HeaderItems li{
    padding: 10px;
    cursor: pointer;
    margin:0 10px
}

.HeaderItems li select{
    border-radius: 16px;
}

.HeaderItems li:nth-child(3), .HeaderItems li:nth-child(4){
    font-size: 20px;
}

.HeaderItems li:nth-child(4)
{
    margin-right: 5%;
}


@media (max-width:425px)
{
    li:first-child{
        display: none;
    }

    .HeaderItems{
        justify-content: space-around;
    }
}