.Buttons{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;
}

.Buttons button{
    width: 240px;
    padding: 10px 0;
    margin-bottom: 10px;
}

#root > div > main > div.Buttons > div:nth-child(4) > button{
    background-color: white;
    color: #006778;
}

@media (max-width:768px){
    .Buttons{
        display: block;
        text-align: center;
    }

    .Buttons button{
        width: calc(100% - 40px);
    }
}

@media (max-width:1024px) and (min-width:769px){
    .Buttons{
        margin: 0 50px;
    }

    .Buttons button{
        width: 220px;
    }
}