.PageHeading{
    background-color: white;
    margin: 0;
    padding: 20px 0;
}

.PageHeading p{
    font-size: 42px;
    color: #022737;
    max-width: 1024px;
    margin: 0 auto;
}

@media (max-width:768px){
    .PageHeading p{
        margin-left: 20px;
    }
}

@media (max-width:1024px) and (min-width:769px){
    .PageHeading p{
        margin:0 45px;
    }
}