.Card{
    background-color: white;
    padding: 20px;
    max-width: 1030px;
    margin: 20px auto;
    box-sizing: border-box;
}

.Card p:first-child{
    font-size: 24px;
    color: #022737;
    display: inline;
    margin-right: 5px;
}

.Card p:nth-child(4){
    font-size: 32px;
    color: #69923a;
    margin: 10px 0;
}

.Card p:nth-child(5){
    font-size: 16px;
    color: #006778;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:768px){
    .Card{
        margin: 20px;
    }
}

@media (max-width:1024px) and (min-width:768px){
    .Card{
        margin:20px auto;
        width: 350px;
    }
}