.bars{
   font-size: 25px;
   display: none;
   position: absolute;
   right: 4%;
   top: 60px;
}

.HeaderBottom{    
    background-color: white;
}

.navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin:0 auto;
    padding: 5px;
    justify-content: space-around;
}

.navbar img{
    width: 123px;
    height: 50px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar li a{
    margin: 10px ;
    font-weight: bold;
    color: #022737;
    text-decoration: none;
    padding: 19px 0;
    font-size: 14px;
}

.navbar li a:hover{
    border-bottom: 4px solid #006778;
}

.navbar li:last-child{
    display: none;
}




@media (max-width:768px) {
    .navbar .navdata{
        display: none;
    }

    .navbar{
        display: block;
    }

    .bars, .navbar img, .navbar li:last-child{
        display: block;        
    }

    .navbar .navdata.responsive{
        display: block;
        text-align: left;
        padding: 0;
        line-height: 4;
        font-weight: normal;
        border-top: 1px solid #eaeaea;
    }

    .navbar .navdata.responsive li{
        border-bottom: 1px solid #eaeaea;
        display: block;
        margin-top: 10px;
        align-items: center;
    }

    .navbar li a{
        font-weight: normal;
    }

    .navbar li a:hover{
        border: none;
    }

    #root > div > header > div.HeaderTop_HeaderTop__FBIb2 > div > li.HeaderTop_assistance__39UOO
    {
        display: none;
    }

    

}

@media (max-width:767px) {
    .navbar li:last-child{
        display: none;
    }
}